body {
    margin: 0;
    padding: 0;
    width: 100%; /* full window width */
    height: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

a { 
    color: inherit; 
    text-decoration: none;
 } 

h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

button {
    cursor: pointer;
    font-family:inherit;
    background: #e8e8e8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

#bluescore {
    color: #4183cc;
}

#redscore {
    color: #d13030;
}

.blueturn {
    color: #4183cc;
}

.redturn {
    color: #d13030;
}

#score {
    text-align: left;
    width: 4.9em;
}

.leftbuttons {
    float: left;
}

#new-game {
    float: right;
}

#game {
    width: 700px;
    height: fit-content;
    margin: 0 auto;
}

#game-status {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
}

.red {
    background: #d13030;
    color: #fff;
}

.blue {
    background: #4183cc;
    color: #fff;
}

.hidden {
    cursor: pointer;
    background: #e8e8e8;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19%;
    height: 18%;
}
