#game {
    width: 800px;
    height: fit-content;
    margin: 0 auto;
}

#github {
    color: #757575;
    margin-top: 2em;
    align-items: center;
    text-align: center;
}

.fa_custom {
    color: #757575;
}

#rules {
    color: #757575;
}